header {
  background: linear-gradient(75deg, #0b3f69, #000010);
  display: flex;
  justify-content: space-between;
  border-bottom: black 2px solid;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 1;
  color: rgb(129, 211, 231);
}