#sidebar {
  top: 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100px;
  padding: 5px;
}

.year-sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  padding: 5px;
  cursor: pointer;
  
  &:hover {
    background: rgb(160, 160, 160);
    border-radius: 5px;
  }
}

main {
  padding: 10px;
  position: absolute;
  top: 40px;
  left: 100px;
  right: 0;
}