#sidebar-container {
  overflow: hidden;
  width: 100px;
  background: linear-gradient(270deg, #ffdfef, #ff89c4);
}

#sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100px;
  padding: 5px;
  padding-bottom: 20px;
}

.year-sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  padding: 5px;
  cursor: pointer;
  
  &:hover {
    background: #ffb1d8;
    border-radius: 5px;
  }
}